/* Pallette
-------
#335507
#4c7a0f
#6ea31e
#92c137
#a8d840
#c0e95b
#d2f380
#e8f9bb
------- */
body {
    margin: 0;
    padding: 0 15px;
    font: normal 15px 'Helvetica', sans-serif;
    color: #111;
    background: #e8f9bb;
}
a img,
img {
    border: 0;
}
a {
    color: #335507;
}

form {
    margin: 0;
    padding: 0;
}

#viewport {
    width: 970px;
    margin: 0 auto;
    border-top: 15px solid #d2f380;
}

#content {
    clear: both;
    padding: 40px 0 0 0;
    border-top: 1px solid #c0e95b;
    background: #fff;
}
#content p {
    margin: 10px 0;
}

#content h1 {
    font-size: 18px;
    line-height: 25px;
}

/* Sidebar */
#sidebar {
    float: right;
    width: 300px;
    margin: 0 30px 15px 30px;
}
#sidebar h1 {
    margin: 0 0 15px 0;
}
.sidebar_list {
    margin: 15px 0;
}
.sidebar_list p#loading_playlists {
    margin: 0;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    background: #d2f380;
}
.sidebar_list p#loading_playlists.unavailable {
    background: #f37d70;
}
ul#playlists {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}
ul#playlists li {
    margin: 0 -24px;
    border-right: 24px solid #fff;
    border-left: 24px solid #fff;
    border-bottom: 1px solid #d2f380;
    line-height: 32px;
}
ul#playlists li img {
    float: right;
    margin: 7px 0 0 3px;
    vertical-align: middle;
}
ul#playlists li a.playlist {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    background: #e8f9bb;
}
ul#playlists li.current a.playlist {
    background: #d2f380;
}

ul#playlists li.current {
    border-left-color: #c0e95b;
}
ul#playlists li.playing a.playlist {
    background: #a8d840;
}
ul#playlists li a.playlist:hover {
    background: #c0e95b;
}
ul#playlists li a.playlist:active {
    background: #a8d840;
}

ul#playlists li form {
    padding: 0 7px;
    line-height: 32px;
    background: #c0e95b;
}
ul#playlists li a.edit_playlist {
    float: right;
    padding: 0 6px;
    font-size: 11px;
    visibility: hidden;
    background: #a8d840;
    text-decoration: none;
}
ul#playlists li:hover a.edit_playlist {
    visibility: visible;
}
ul#playlists li a.edit_playlist:hover {
    background: #92c137;
}

ul#playlists li a.playlist_playing {
    float: left;
    display: block;
    width: 24px;
    height: 32px;
    margin-left: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
}
ul#playlists li.playing a.playlist_playing {
    background: #a8d840 url('track_play.gif') no-repeat 50% 50%;
}
ul#playlists li.playing a.playlist_playing:hover {
    background-color: #92c137;
}

ul#playlists li a.delete_playlist {
    float: right;
    width: 24px;
    margin-right: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    visibility: hidden;
    text-decoration: none;
}
ul#playlists li:hover a.delete_playlist {
    visibility: visible;
}
ul#playlists li a.delete_playlist:hover {
    background: #eee;
}
ul#playlists li input {
    margin-right: 5px;
}
ul#playlists li input.playlist_name {
    width: 180px;
}

#playdar {
    vertical-align: middle;
}
#playdar img {
    margin-right: 3px;
}

/* Main */
#main {
    width: 580px;
    margin: 0 15px;
    min-height: 200px;
}
#main h1 {
    margin: 0 0 15px 40px;
}

p#shortcuts {
    margin: 0 0 20px 40px;
}

p#tracksLoading {
    display: none;
    margin: 0 0 20px 40px;
    line-height: 39px;
}
p#tracksLoading img {
    vertical-align: middle;
    margin-left: -27px;
    padding-right: 11px;
}

/* Import */
#import {
    display: none;
}
#import p.messages {
    display: none;
    margin: 20px 0 20px 40px;
}
#import p.messages img {
    margin: -3px 5px 0 0;
    vertical-align: middle;
}

/* Add track form */
form#add_to_playlist,
form#import_playlist_form,
form#xspf_form,
form#podcast_form,
form#album_form {
    margin: 20px 0 20px 40px;
    line-height: 25px;
}
form#add_to_playlist input#add_track_input,
form#import_playlist_form input#import_playlist_input,
form#album_form input#album_import_input,
form#xspf_form input#xspf_input,
form#podcast_form input#podcast_input {
    margin: 0 10px;
    width: 250px;
}

/* Track list */
.trackList {
    margin: 0;
    padding: 0;
    list-style: none;
}
.trackList li {
    border-bottom: 1px solid #c0e95b;
    border-right: 24px solid #fff;
    font-size: 14px;
    line-height: 39px;
}
.trackList li.placeholder {
    border-top: 1px solid #335507;
}
.trackList li span.status {
    display: block;
    float: left;
    width: 39px;
    height: 39px;
    text-align: center;
}
.trackList li.scanning span.status {
    background: url('track_scanning.gif') no-repeat 50% 50%;
}
.trackList li.perfectMatch span.status {
    background: url('track_play.gif') no-repeat 50% 50%;
}
.trackList li span.status span {
    display: none;
}
.trackList li.perfectMatch span.status span.play {
    display: inline;
}
.trackList a.item {
    display: block;
    text-decoration: none;
}
.trackList span.contributor {
    margin-right: 3px;
    color: #4c7a0f;
}
.trackList strong.fn {
}
.trackList li.match {
    background-color: #e8f9bb;
}
.trackList li.match:hover {
    background-color: #a8d840;
}
.trackList li.playing,
.trackList li.paused {
    background: #c0e95b url('track_progress.gif') repeat-y 0 0;
}
.trackList li.playing:hover,
.trackList li.paused:hover {
    background-color: #a8d840;
}
.trackList a.remove {
    float: right;
    width: 24px;
    margin-right: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    visibility: hidden;
    text-decoration: none;
}
.trackList li:hover a.remove,
.trackList li.ui-sortable-helper a.remove {
    visibility: visible;
}
.trackList a.remove:hover {
    background: #eee;
}

.trackList a.show_sources {
    float: right;
    padding: 0 6px;
    font-size: 11px;
    visibility: hidden;
    background: #d2f380;
    text-decoration: none;
}
.trackList span.elapsed {
    float: right;
    visibility: hidden;
    margin-right: 8px;
    color: #335507;
    font-size: 11px;
}
.trackList li.perfectMatch span.elapsed {
    visibility: visible;
}
.trackList li.match:hover a.show_sources,
.trackList li.open a.show_sources {
    visibility: visible;
}
.trackList a.show_sources:hover {
    background: #c0e95b;
}

.sources {
    display: none;
    font-size: 12px;
    line-height: 22px;
}
.trackList li.open .sources {
    display: block;
}
.sources table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
}
.sources table tbody td {
    background: #d2f380;
}
.sources table tbody.choice td {
    background: #c0e95b;
}
.sources table tbody:hover td {
    cursor: pointer;
    background: #a8d840;
}
.sources table td {
    padding: 8px 0 0 8px;
    border-top: 1px solid #c0e95b;
    vertical-align: top;
    color: #4c7a0f;
}
.sources table tr.info td,
.sources tbody > tr:first-child td {
    border-top: 0;
}
.sources table td.name img {
    float: right;
    margin: 5px 10px 5px 0;
    border: 1px solid #335507;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.sources table td.name span {
    color: #335507;
}
.sources table tr.info td {
    padding-bottom: 8px;
    color: #6ea31e;
    line-height: 12px;
}
.sources table td.choice,
.sources table td.score {
    width: 18px;
    padding-right: 3px;
    text-align: center;
    vertical-align: middle;
}
.sources table td.score {
    font-size: 11px;
}
.sources table td.time,
.sources table td.size,
.sources table td.bitrate {
    width: 60px;
    padding-right: 8px;
    text-align: right;
}

#footer {
    margin-top: 30px;
    padding: 10px;
    clear: both;
    background: #d2f380;
    border-top: 1px solid #c0e95b;
}