/* Pallette
-------
#335507
#4c7a0f
#6ea31e
#92c137
#a8d840
#c0e95b
#d2f380
#e8f9bb
------- */
body {
    margin: 0;
    padding: 15px;
    font: normal 15px 'Helvetica', sans-serif;
    color: #111;
    background: #e8f9bb;
}
a img,
img {
    border: 0;
}
a {
    color: #335507;
}

#viewport {
    width: 970px;
    margin: 0 auto;
}

#content {
    clear: both;
    padding: 40px 0 0 0;
    background: #fff;
}
#content p {
    margin: 10px 0;
}

#content h1 {
    font-size: 18px;
    line-height: 25px;
}

/* Sidebar */
#sidebar {
    float: right;
    width: 300px;
    margin: 0 30px 15px 30px;
}
#sidebar h1 {
    margin: 0 0 15px 0;
}
.stash {
    margin: 15px 0;
    background: #e8f9bb;
}
.stash p#loading_playlists {
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    line-height: 39px;
    background: #d2f380;
}
ul#playlist_stash {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#playlist_stash li {
    margin-right: -24px;
    border-right: 24px solid #fff;
    border-bottom: 1px solid #d2f380;
    line-height: 39px;
}
ul#playlist_stash li a.playlist {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}
ul#playlist_stash li a.playlist:hover {
    background: #d2f380;
}
ul#playlist_stash li a.playlist:active {
    background: #a8d840;
}

ul#playlist_stash li form {
    margin: 0;
    padding: 0 7px;
    line-height: 39px;
}
ul#playlist_stash li a.edit_playlist {
    float: right;
    padding: 0 12px;
    font-size: 11px;
    visibility: hidden;
    background: #a8d840;
    text-decoration: none;
}
ul#playlist_stash li:hover a.edit_playlist {
    visibility: visible;
}
ul#playlist_stash li a.edit_playlist:hover {
    background: #92c137;
}
ul#playlist_stash li a.delete_playlist {
    float: right;
    width: 24px;
    margin-right: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    visibility: hidden;
    text-decoration: none;
}
ul#playlist_stash li:hover a.delete_playlist {
    visibility: visible;
}
ul#playlist_stash li a.delete_playlist:hover {
    background: #eee;
}
ul#playlist_stash li input {
    margin-right: 5px;
}
ul#playlist_stash li input.playlist_name {
    width: 180px;
}

/* Main */
#main {
    width: 580px;
    margin: 0 15px;
    min-height: 200px;
}
#main h1 {
    margin: 0 0 15px 40px;
}

/* Add track form */
form#add_to_playlist {
    margin: 20px 0 20px 40px;
    line-height: 25px;
}
form#add_to_playlist input#add_track_input {
    margin-right: 10px;
    width: 300px;
}

/* Track list */
.trackList {
    margin: 0;
    padding: 0;
    list-style: none;
}
.trackList li {
    border-bottom: 1px solid #d2f380;
    font-size: 15px;
    line-height: 39px;
}
.trackList li.loading {
    background: #e8f9bb;
}
.trackList li.match {
    background: #c0e95b;
}
.trackList li.perfectMatch {
    background: #92c137;
}
.trackList li.open {
    border-color: #c0e95b;
}
.trackList li.dragover {
    margin-top: 50px;
    border-top: 2px solid #335507;
}
.trackList a.item {
    display: block;
    text-decoration: none;
}
.trackList li:hover a.item,
.trackList li.ui-sortable-helper a.item {
    background: #d2f380;
}
.trackList li.open a.item {
    background: #c0e95b;
}
.trackList a.handle {
    display: block;
    float: left;
    visibility: hidden;
    width: 19px;
    background: #a8d840;
    padding: 0 5px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: move;
}
.trackList a.handle:hover {
    background: #92c137;
}
.trackList li:hover a.handle,
.trackList li.ui-sortable-helper a.handle {
    visibility: visible;
}
.trackList a.remove {
    float: right;
    padding: 0 10px;
    visibility: hidden;
    background: #a8d840;
    text-decoration: none;
}
.placeholder {
    border-top: 1px solid #335507;
}
.trackList a.remove:hover {
    background: #92c137;
}
.trackList li:hover a.remove,
.trackList li.ui-sortable-helper a.remove {
    visibility: visible;
}
.sources {
    display: none;
    background: #e8f9bb;
    font-size: 13px;
    line-height: 22px;
}
.trackList li.open .sources {
    display: block;
}
#content .sources p.sourcesEmpty {
    margin: 0;
    padding: 10px 15px;
    font-style: italic;
}
.sources table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.sources table tbody.playing,
.sources table tbody.paused {
    background: #d2f380 url('/static/track_progress.gif') repeat-y 0 0;
}
.sources table tbody.paused {
    background-color: #e8f9bb;
}
.sources table tbody:hover {
    cursor: pointer;
    background-color: #d2f380;
}
.sources table td {
    padding: 8px 0 0 8px;
    border-top: 1px solid #c0e95b;
    vertical-align: top;
    color: #4c7a0f;
}
.sources table tr.info td,
.sources table > tr:first-child td {
    border-top: 0;
}
.sources table tr.info td {
    padding-bottom: 8px;
    color: #6ea31e;
}
tbody td.play span {
    visibility: hidden;
}
tbody.playing td.play span {
    visibility: visible;
}
tbody.paused td.play span {
    visibility: visible;
}
.sources table td.play,
.sources table tr.info td.score {
    width: 18px;
    padding-right: 3px;
    text-align: right;
}
.sources table tr.info td.score {
    font-size: 11px;
}
.sources table td.time,
.sources table td.size {
    width: 70px;
    padding-right: 8px;
}
.sources table td.progress,
.sources table td.time,
.sources table td.size,
.sources table td.bitrate {
    text-align: right;
}
.sources table td.progress {
    color: #335507;
}

#footer {
    margin-top: 30px;
    padding: 10px;
    clear: both;
    background: #d2f380;
    border-top: 1px solid #c0e95b;
}