/* Pallette
-------
#335507
#4c7a0f
#6ea31e
#92c137
#a8d840
#c0e95b
#d2f380
#e8f9bb
------- */
body {
    margin: 0;
    padding: 0 15px;
    font: normal 15px 'Helvetica', sans-serif;
    color: #111;
    background: #e8f9bb;
}
a img,
img {
    border: 0;
}
a {
    color: #335507;
}

form, ul, li {
    margin: 0;
    padding: 0;
}

#viewport {
    width: 970px;
    margin: 0 auto;
}

/* Playdar powered */
#powered {
    margin: 5px 10px;
    float: right;
    text-align: right;
}
#powered p {
    margin: 0;
    padding: 0;
}
#powered a.icon {
    font-weight: bold;
    text-decoration: none;
}
#powered a.icon small {
    text-decoration: underline;
}
#powered a:hover {
    color: #4c7a0f;
}
#powered img {
    margin: 0 0 -3px 0;
}
#playdarStatus {
    font-weight: normal;
}

/* Title */

h1#title {
    margin: 0;
    padding: 7px 10px 5px 50px;
    background: #d2f380;
    color: #335507;
    font-size: 18px;
}

a#titleLink {
    text-decoration: none;
}
a#titleLink img {
    vertical-align: middle;
}
a#titleLink img.logo {
    margin: 0 5px 1px -37px;
}
a#titleLink img.logo2 {
    margin: 0 4px 0 -35px;
}
a#titleLink:hover {
    color: #4c7a0f;
}
a#titleLink span {
    color: #6ea31e;
}
a#titleLink:hover span {
    color: #92c137;
}
h1#title small {
    font-size: 12px;
}

#content {
    position: relative;
    clear: both;
    padding: 40px 0 0 0;
    border-top: 1px solid #c0e95b;
    background: #fff;
}
#content p {
    margin: 10px 0;
}

#content h1 {
    font-size: 18px;
    line-height: 25px;
}
#content h2 {
    font-size: 16px;
    line-height: 23px;
}

/* Sidebar */
#sidebar {
    float: right;
    width: 300px;
    margin: 0 30px 15px 30px;
}
#sidebar h1 {
    margin: 0 0 15px 0;
}
.sidebar_list {
    margin: 15px 0;
}
/* Playlists */
p#loading_playlists {
    margin: 0;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    background: #d2f380;
}
p#loading_playlists.unavailable {
    background: #f37d70;
}
ul#playlists {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}
ul#playlists li {
    margin: 0 -24px;
    border-right: 24px solid #fff;
    border-left: 24px solid #fff;
    border-bottom: 1px solid #d2f380;
    line-height: 32px;
}
ul#playlists li img {
    float: right;
    margin: 7px 0 0 3px;
    vertical-align: middle;
}
ul#playlists li a.playlist {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    background: #e8f9bb;
}
ul#playlists li.current a.playlist {
    background: #d2f380;
}

ul#playlists li.current {
    border-left-color: #c0e95b;
}
ul#playlists li.playing a.playlist {
    background: #a8d840;
}
ul#playlists li a.playlist:hover {
    background: #c0e95b;
}
ul#playlists li a.playlist:active {
    background: #a8d840;
}

ul#playlists li form {
    padding: 0 7px;
    line-height: 32px;
    background: #c0e95b;
}
ul#playlists li a.edit_playlist {
    float: right;
    padding: 0 6px;
    font-size: 11px;
    visibility: hidden;
    background: #a8d840;
    text-decoration: none;
}
ul#playlists li:hover a.edit_playlist {
    visibility: visible;
}
ul#playlists li a.edit_playlist:hover {
    background: #92c137;
}

ul#playlists li a.playlist_playing {
    float: left;
    display: block;
    width: 24px;
    height: 32px;
    margin-left: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
    cursor: default;
}
ul#playlists li.playing a.playlist_playing {
    background: #a8d840 url('track_play.gif') no-repeat 50% 50%;
}
ul#playlists li.playing a.playlist_playing:hover {
    background-color: #92c137;
}

ul#playlists li a.delete_playlist {
    float: right;
    width: 24px;
    margin-right: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    visibility: hidden;
    text-decoration: none;
}
ul#playlists li:hover a.delete_playlist {
    visibility: visible;
}
ul#playlists li a.delete_playlist:hover {
    background: #eee;
}
ul#playlists li input {
    margin-right: 5px;
}
ul#playlists li input.playlist_name {
    width: 180px;
}

/* Sidebar importers */
ul#importers {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}
ul#importers li.importer {
    float: left;
    margin: 0 -24px;
    padding: 5px 0 10px 0;
    width: 300px;
    border-right: 24px solid #fff;
    border-left: 24px solid #fff;
    border-bottom: 1px solid #d2f380;
    line-height: 24px;
}
ul#importers li input {
    margin-right: 5px;
}
ul#importers li input.importer_input {
    width: 200px;
}

/* Main */
#main {
    float: left;
    width: 580px;
    margin: 0 15px 15px 15px;
    min-height: 200px;
}
#main h1 {
    margin: 0 0 15px 40px;
}
#main h2 {
    margin: 0 0 0 40px;
}
#main h1 img {
    float: right;
    margin: 0 24px 24px 0;
    vertical-align: middle;
}
#main h1 small {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
}
#main h1 small span.source {
    color: #999;
}
#main h1 small span a {
    color: #4c7a0f;
}

/* Manage */
#manage {
    display: none;
}

p#tracksLoading {
    display: none;
    margin: 0 0 20px 40px;
    line-height: 39px;
}
p#tracksLoading img {
    vertical-align: middle;
    margin-left: -27px;
    padding-right: 11px;
}
p#tracksError {
    display: none;
    margin: 0 0 20px 40px;
    line-height: 39px;
    color: #B0252B;
}

p#shortcuts {
    float: left;
    margin-top: 20px;
}
a#playlistApplescript {
    float: right;
    margin: 20px 24px 0 0;
    font-size: 13px;
    text-align: right;
}
a#playlistApplescript:hover {
    color: #4c7a0f;
}
a#playlistApplescript img {
    margin-right: 5px;
    float: left;
}

/* Import */
#import {
    
}
img.favicon {
    margin: 5px 10px 0 -26px;
    float: left;
}

#content p.messages {
    display: none;
    margin: 10px 0;
    font-size: 13px;
    line-height: 1.5;
}
#content #main p {
    margin-left: 40px;
}
#content p.messages img {
    margin: -3px 5px 0 0;
    vertical-align: middle;
}

/* Add track form */
form#add_to_playlist,
form#lastfm_battle_form {
    margin: 10px 0 20px 40px;
    line-height: 25px;
}
form#add_to_playlist input#add_track_input {
    margin: 0 10px 0 0;
    width: 250px;
}
form#lastfm_battle_form input#lastfm_battle_input_you {
    margin: 0 10px 0 0;
}
form#lastfm_battle_form input#lastfm_battle_input_they {
    margin: 0 10px;
}

/* Import playlists form */
form#lastfm_playlists_form {
    display: none;
}
form#lastfm_playlists_form p.messages {
    margin: 5px 0 0 0;
}
form#lastfm_playlists_form input.submit {
    margin-top: 10px;
    float: right;
}
p#lastfm_done input {
}
ul#lastfm_playlists {
    margin-top: -29px;
    list-style-type: none;
}
ul#lastfm_playlists li {
    padding: 5px;
    color: #335507;
}
ul#lastfm_playlists li.playlist {
    background: #e8f9bb;
    border-bottom: 1px solid #c0e95b;
}
ul#lastfm_playlists li.playlist:hover {
    cursor: pointer;
}
ul#lastfm_playlists li.selected {
    background: #d2f380;
}
ul#lastfm_playlists li span,
ul#lastfm_playlists li small {
    float: right;
}
ul#lastfm_playlists img {
    margin: -4px 3px 0 3px;
    vertical-align: middle;
}

/* Track list */
.trackList {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}
.trackList li {
    border-bottom: 1px solid #c0e95b;
    border-right: 24px solid #fff;
    font-size: 14px;
    line-height: 39px;
}
.trackList li.placeholder {
    border-top: 1px solid #335507;
}
.trackList li span.status {
    display: block;
    float: left;
    width: 39px;
    height: 39px;
    text-align: center;
}
.trackList li.scanning span.status {
    background: url('track_scanning.gif') no-repeat 50% 50%;
}
.trackList li.perfectMatch span.status {
    background: url('track_play.gif') no-repeat 50% 50%;
}
.trackList li.playing span.status {
    background-image: url('track_paused.gif');
}
.trackList li.paused span.status {
    background-image: url('track_play.gif');
}
.trackList li span.status span {
    display: none;
}
.trackList li.perfectMatch span.status span.play {
    display: inline;
}
.trackList a.item {
    display: block;
    text-decoration: none;
}
.trackList span.contributor {
    margin-right: 3px;
    color: #4c7a0f;
}
.trackList strong.fn {
}
.trackList li.match {
    background-color: #e8f9bb;
}
.trackList li.match:hover {
    background-color: #a8d840;
}
.trackList li.playing,
.trackList li.paused {
    background: #c0e95b url('track_progress.gif') repeat-y 0 0;
}
.trackList li.playing:hover,
.trackList li.paused:hover {
    background-color: #a8d840;
}
.trackList li.error {
    background: #FFAF59;
}
.trackList li.error:hover {
    background: #FF9E29;
}
.trackList a.remove {
    float: right;
    width: 24px;
    margin-right: -24px;
    padding: 0;
    text-align: center;
    font-size: 11px;
    visibility: hidden;
    text-decoration: none;
}
.trackList li:hover a.remove,
.trackList li.ui-sortable-helper a.remove {
    visibility: visible;
}
.trackList a.remove:hover {
    background: #eee;
}

.trackList a.spotifyLink {
    float: right;
    padding: 0 6px;
    font-size: 11px;
    background: #d2f380;
    text-decoration: none;
}
.trackList a.spotifyLink:hover {
    background: #c0e95b;
}
.trackList a.spotifyLink img {
    vertical-align: middle;
}
.trackList a.show_sources {
    float: right;
    padding: 0 6px;
    font-size: 11px;
    visibility: hidden;
    background: #d2f380;
    text-decoration: none;
}
.trackList span.elapsed {
    float: right;
    visibility: hidden;
    margin-right: 8px;
    color: #335507;
    font-size: 11px;
}
.trackList span.estimate {
    color: #6ea31e;
}
.trackList li.perfectMatch span.elapsed {
    visibility: visible;
}
.trackList li.match:hover a.show_sources,
.trackList li.open a.show_sources {
    visibility: visible;
}
.trackList a.show_sources:hover {
    background: #c0e95b;
}

.sources {
    display: none;
    font-size: 12px;
    line-height: 22px;
}
.trackList li.open .sources {
    display: block;
}
.sources table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
}
.sources table tbody td {
    background: #d2f380;
}
.sources table tbody.choice td {
    background: #c0e95b;
}
.sources table tbody:hover td {
    cursor: pointer;
    background: #a8d840;
}
.sources table tbody.error td {
    background: #FFAF59;
}
.sources table tbody.error:hover td {
    background: #FF9E29;
}
.sources table td {
    padding: 8px 0 0 8px;
    border-top: 1px solid #c0e95b;
    vertical-align: top;
    color: #4c7a0f;
}
.sources table tr.info td,
.sources tbody > tr:first-child td {
    border-top: 0;
}
.sources table td.name img {
    float: right;
    margin: 5px 10px 5px 0;
    border: 1px solid #335507;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.sources table td.name span {
    color: #335507;
}
.sources table tr.info td {
    padding-bottom: 8px;
    color: #6ea31e;
    line-height: 12px;
}
.sources table td.choice,
.sources table td.score {
    width: 18px;
    padding-right: 3px;
    text-align: center;
    vertical-align: middle;
}
.sources table td.score {
    font-size: 11px;
}
.sources table td.time,
.sources table td.size,
.sources table td.bitrate {
    width: 60px;
    padding-right: 8px;
    text-align: right;
}

#footer {
    margin-top: 15px;
    padding: 10px;
    clear: both;
    background: #d2f380;
    border-top: 1px solid #c0e95b;
}

/**
 * Autocomplete
**/

.ac_results {
    width: 253px !important;
    padding: 0;
    border: 1px solid #6ea31e;
    border-top: 0;
    overflow: hidden;
    z-index: 99999;
    background: #fff;
    color: #4c7a0f;
}

.ac_results ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ac_results li {
    margin: 0;
    padding: 3px 5px;
    cursor: default;
    display: block;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
}
.ac_results li strong {
    color: #335507;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #e8f9bb;
}

.ac_over {
    background-color: #c0e95b;
}

/**
 * App launcher iframe target
**/
#appLauncher {
    display: none;
    visibility: hidden;
}

/**
 * Soundmanager 2 container 
**/

#sm2-container {
    position: absolute;
    top: 5px;
    right: 30px;
    width: 300px;
    height: 20px;
}